DangoteSAP3/Connected Services/DangoteResetPasswordService/si_pass_reset_abs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="urn:dangote-group.com:ng:isop:authentication" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="si_pass_reset_abs" targetNamespace="urn:dangote-group.com:ng:isop:authentication" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_si_pass_reset_abs" />
  <wsdl:types>
    <xsd:schema xmlns="urn:dangote-group.com:ng:isop:authentication" targetNamespace="urn:dangote-group.com:ng:isop:authentication" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="mt_pass_rest_out" type="p1:dt_pass_rest_out" />
      <xsd:element name="mt_pass_rest_in" type="p1:dt_pass_rest_in" />
      <xsd:complexType name="dt_pass_rest_out">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">data type for password reset response</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">78d956cc4c6811e89c5d000000877076</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="status" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">cfa936ad52ce11e5a52700155d81c629
                            </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="message" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">c42bb5315ad411e5b17900155d1e0b3d
                            </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="error_log">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ea0ee1e252ce11e5cfbf00155d81c629
                            </xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="lines">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">
                                            05df936052cf11e5cb4a00155d81c629
                                        </xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="code" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">
                                                        05df935d52cf11e5bae100155d81c629
                                                    </xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="title" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">
                                                        05df935e52cf11e59bef00155d81c629
                                                    </xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="message" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">
                                                        05df935f52cf11e594ec00155d81c629
                                                    </xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="dt_pass_rest_in">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">3fca6ab54c6811e88823000000877076</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="username" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">1964fcd16bf711e5cc4900155d1e0b69
                            </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="password" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">1964fcd26bf711e5bd7000155d1e0b69
                            </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="new_password" type="xsd:string" />
          <xsd:element name="new_password_confirmation" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="mt_pass_rest_in">
    <wsdl:documentation />
    <wsdl:part name="mt_pass_rest_in" element="p1:mt_pass_rest_in" />
  </wsdl:message>
  <wsdl:message name="mt_pass_rest_out">
    <wsdl:documentation />
    <wsdl:part name="mt_pass_rest_out" element="p1:mt_pass_rest_out" />
  </wsdl:message>
  <wsdl:portType name="si_pass_reset_abs">
    <wsdl:documentation />
    <wsdl:operation name="si_pass_reset_abs">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_si_pass_reset_abs" />
      </wsp:Policy>
      <wsdl:input message="p1:mt_pass_rest_in" />
      <wsdl:output message="p1:mt_pass_rest_out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="si_pass_reset_absBinding" type="p1:si_pass_reset_abs">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="si_pass_reset_abs">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="si_pass_reset_absService">
    <wsdl:port name="HTTP_Port" binding="p1:si_pass_reset_absBinding">
      <address location="http://sappidev2.dangote-group.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=ISOP_DownPayment&amp;receiverParty=&amp;receiverService=&amp;interface=si_pass_reset_abs&amp;interfaceNamespace=urn%3Adangote-group.com%3Ang%3Aisop%3Aauthentication" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:si_pass_reset_absBinding">
      <address location="https://sappidev2.dangote-group.com:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=ISOP_DownPayment&amp;receiverParty=&amp;receiverService=&amp;interface=si_pass_reset_abs&amp;interfaceNamespace=urn%3Adangote-group.com%3Ang%3Aisop%3Aauthentication" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>